
<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-3" >
    <div class="col mb-4" *ngFor ='let store of stores'>
      <div class="card h-100" class="card border-dark mb-3">
        <img [src]='store.imageUrl'  class="card-img-top" alt="image....">
        <div class="card-body">
          <h3 class="card-title">  {{store.storeName}}</h3>
          <p class="card-text">{{store.releaseDate}}</p>
              <p class="card-text">{{store.description}}</p>
              <p class="card-text">{{store.storeCode}}</p>
              <p class="card-text">{{store.starRating}}</p>
              
              <i type="button" class="fas fa-edit" data-toggle="tooltip" data-placement="bottom"  title="Update"   (click)="doUpdate(store)" ></i>              
              <i type="button" class="fas fa-trash-alt" data-toggle="tooltip" data-placement="bottom"  title="Delete" (click)="deleteItem(store)"></i>


 



        </div>
        <small class="text-muted">Last updated {{store.date}}</small>
      </div>
    </div>
</div> 
