<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><i class="fas fa-trophy fa-4x"></i></th>
          <th scope="col"><i class="fas fa-utensils fa-4x"></i></th>
          <th scope="col"><i class="fas fa-phone-volume fa-4x"></i></th>
          <th scope="col"><i class="fas fa-address-card fa-4x"></i></th>
          <th scope="col"><i class="fas fa-mail-bulk fa-4x"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><i class="fab fa-angellist fa-3x"></i></th>
          <td>Villa Maya</td>
          <td>0471 257 8901</td>
          <td>
            Muthoot Sky Chef, No-120 Palayam Thiruvananthapuram, Kerala 695008
          </td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fab fa-angellist fa-2x"></i></th>
          <td>Supreme Upper Crust</td>
          <td>0471 272 7722</td>
          <td>
            Kuravankonam - Maruthoor Rd, opposite Welgate organic, Kowdiar
          </td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fab fa-angellist fa-1x"></i></th>
          <td>Kaffeehaus Trivandrum</td>
          <td>0471 485 1133</td>
          <td>Sree Sai, MP Appan Rd, Near Govt College of women</td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Zam Zam Restaurant</td>
          <td>0471 454 554</td>
          <td>opp. MLA Hostel, University of Kerala Senate</td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Oriental Spice</td>
        
          <td>0471 454 554</td>  <td>Musaliar Buildings, Pattom Kowdiar Rd, Near Federal B</td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Café Mojo</td>
          
          <td>0471 454 554</td><td>Shaheen Building Pattom Kowdiar Road Near Kuravankonam</td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Mothers Veg Plaza</td>
          
          <td>0471 454 554</td><td>Bakery Jct Rd, near Russian Cultural Center</td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>The Yellow Chilli</td>
        
          <td>0471 454 554</td>  <td>Capitol Building, 1st & 2nd floor, Nalanda Ln,</td>
          <td>
            <a style="color: blue;" routerLink="mailto:someone@example.com"
              >Send email</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
