<div class="card">
    <form #add="ngForm" (ngSubmit)="AddStore()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <!-- <input type="text" name="_id" [(ngModel)]="storeItem._id" style="visibility: hidden;"> -->
                    <tbody>
                        <!-- <tr>
                        <td><label>store Id</label></td>
                        <td>
                            <input type="text" name="p_id" [(ngModel)]="storeItem.storeId" required>
                        </td></tr> -->
                        <tr>
                            <td><label>store Name</label></td>
                            <td><input type="text" name="p_name"[(ngModel)]="storeItem.storeName" required></td>
                        </tr>
                        <tr>
                            <td><label>store Code</label></td>
                            <td><input type="text" name="p_code"[(ngModel)]="storeItem.storeCode" required></td>
                        </tr>
                        <tr>
                            <td><label>store date</label></td>
                            <td><input type="text" name="p_date"[(ngModel)]="storeItem.releaseDate" required></td>
                        </tr>
                        <tr>
                            <td><label>store desc</label></td>
                            <td><input type="text" name="p_desc"[(ngModel)]="storeItem.description" required></td>
                        </tr>
                        <tr>
                            <td><label>store Price</label></td>
                            <td><input type="text" name="p_price"[(ngModel)]="storeItem.price" required></td>
                        </tr>
                        <tr>
                            <td><label>store Starrating</label></td>
                            <td><input type="text" name="p_rating"[(ngModel)]="storeItem.starRating" required></td>
                        </tr>
                        <tr>
                            <td><label>store imageUrl</label></td>
                            <td><input type="text" name="p_image"[(ngModel)]="storeItem.imageUrl" required></td>
                        </tr>
                        <tr>
                            <td> <small style="color: red;">*All Fields must be filled </small></td>
                           
                            <td><input type="submit" [disabled]="add.form.invalid" value="Submit"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>