<div class="card">
  <form #add="ngForm" (ngSubmit)="AddStore()">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <label><b>Restaurant Name</b></label>
              </td>
              <td>
                <input
                  type="text"
                  name="p_name"
                  [(ngModel)]="storeItem.storeName"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Restaurant Place</b></label>
              </td>
              <td>
                <input
                  type="text"
                  name="p_place"
                  [(ngModel)]="storeItem.storePlace"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Restaurant Type</b></label>
              </td>
              <td>
                <input
                  type="text"
                  name="p_code"
                  [(ngModel)]="storeItem.storeCode"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Restaurant Established Date</b></label>
              </td>
              <td>
                <input
                  type="date"
                  name="p_date"
                  [(ngModel)]="storeItem.releaseDate"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Restaurant description</b></label>
              </td>
              <td>
                <input
                  type="text"
                  name="p_desc"
                  [(ngModel)]="storeItem.description"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Cost for two ₹</b></label>
              </td>
              <td>
                <input
                  type="text"
                  name="p_price"
                  [(ngModel)]="storeItem.price"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Restaurant rating</b></label>
              </td>
              <td>
                <input
                  type="number"
                  max="5"
                  name="p_rating"
                  [(ngModel)]="storeItem.starRating"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <label><b>Restaurant imageUrl</b></label>
              </td>
              <td>
                <input
                  type="text"
                  name="p_image"
                  [(ngModel)]="storeItem.imageUrl"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>
                <small style="color: red; font-size: larger;"
                  >*All Fields must be filled
                </small>
              </td>

              <td>
                <input
                  type="submit"
                  class="btn btn-dark"
                  [disabled]="add.form.invalid"
                  value="Submit"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
